#grayBar {
	background-color: 	#708090;
	height: 250px;
	left: 0px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: -1;
}

#salmonBar {
	background-color: #F08080;
	height: 500px;
	left: 0px;
	position: fixed;
	width: 100%;
	top: 250px;
	z-index:-1;
}

#darkgrayBar {
	background-color: 	#708090;
	height: 400px;
	left: 0px;
	position: fixed;
	width: 100%;
	top: 750px;
	z-index: -1;
}


#dp {
	position: relative;
	width: 120px;
	height: 135px;
	top: 285px;
	left: 860px;
	z-index: 2;
}

h1{
	font-size: 40px;
	z-index: 10;
	position: relative;
	font-family: Arial;
	font-style: italic;
	color: white;
	text-align: center;
	top: 280px;
}

p{
	font-size: 20px;
	z-index: 10;
	position: relative;
	font-family: Arial;
	font-style: italic;
	color: white;
	text-align: center;
	top: 260px;
}
